---
layout: page
---

{{ content }}

{% if page.repo %}<p><strong>Repository:</strong> <a href="{{ page.repo }}">{{ page.repo }}</a>{% endif %}

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Conference</th>
      <th>Video</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for pres in page.presentations %}
    <tr {% if pres.highlight %}class="talk-highlight"{% endif %}>
      <td>{{ pres.date }}</td>
      <td>{% if pres.conference_link %}<a href="{{ pres.conference_link }}">{{ pres.conference }}</a>{% else %}{{ pres.conference }}{% endif %}</td>
      <td>{% if pres.video %}<a href="{{ pres.video }}">link</a>{% endif %}</td>
      <td>{{ pres.notes }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>    
